In [44]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [45]:
df = pd.read_csv("./Dataset/hotel_bookings.csv")

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [47]:
df.shape

(119390, 32)

In [48]:
#missing values
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [49]:
#### There are 488 missing values in country column(object type) and 4 missing values in agent column(int64 type) and 16340 missing values in company column(int64 type) and 112593 missing values in children column(float64 type)

In [50]:
df=df.drop(["company"],axis=1)

In [51]:
df.shape

(119390, 31)

In [52]:
####Missing Value

In [53]:
median1 = df["children"].median()

In [54]:
median1

0.0

In [55]:
df["children"].replace(np.nan,median1,inplace=True)

In [56]:
df.isnull().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              0
babies                                0
meal                                  0
country                             488
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             16340
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [57]:
median2=df["agent"].median()
median2

14.0

In [58]:
df["agent"].replace(np.nan,median2,inplace=True)

In [59]:
df.isnull().sum()

hotel                               0
is_canceled                         0
lead_time                           0
arrival_date_year                   0
arrival_date_month                  0
arrival_date_week_number            0
arrival_date_day_of_month           0
stays_in_weekend_nights             0
stays_in_week_nights                0
adults                              0
children                            0
babies                              0
meal                                0
country                           488
market_segment                      0
distribution_channel                0
is_repeated_guest                   0
previous_cancellations              0
previous_bookings_not_canceled      0
reserved_room_type                  0
assigned_room_type                  0
booking_changes                     0
deposit_type                        0
agent                               0
days_in_waiting_list                0
customer_type                       0
adr                                 0
required_car_parking_spaces         0
total_of_special_requests           0
reservation_status                  0
reservation_status_date             0
dtype: int64

In [60]:
mode1=df["country"].mode().values[0]

In [61]:
mode1

'PRT'

In [62]:
df["country"].replace(np.nan,mode1,inplace=True)

In [63]:
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [64]:
#### Checking for duplicates
duplicate=df.duplicated()
print(duplicate.sum())

32020

In [65]:
df.drop_duplicates(inplace=True)

In [66]:
df.duplicated().sum()

0

In [67]:
df.shape

(87370, 31)

In [68]:
#### Outliers
df.boxplot(column=["lead_time"])

In [69]:
def remove_outliers(col):
    sorted(col)
    Q1,Q3=col.quantile([0.25,0.75])
    IQR=Q3-Q1
    lower_range=Q1-(1.5*IQR)
    upper_range=Q3+(1.5*IQR)
    return lower_range,upper_range

In [70]:
low_leadtime,up_leadtime=remove_outliers(df["lead_time"])
df["lead_time"]=np.where(df["lead_time"]>up_leadtime,up_leadtime,df["lead_time"])
df["lead_time"]=np.where(df["lead_time"]<low_leadtime,low_leadtime,df["lead_time"])
df.boxplot(column=["lead_time"])

In [71]:
df.boxplot(column=["lead_time"])

In [75]:
dummies=pd.get_dummies(df[["hotel","arrival_date_month","meal","market_segment","distribution_channel","reserved_room_type","assigned_room_type","deposit_type","customer_type"]])

In [76]:
dummies.head()

,hotel_City Hotel,hotel_Resort Hotel,arrival_date_month_April,arrival_date_month_August,arrival_date_month_December,arrival_date_month_February,arrival_date_month_January,arrival_date_month_July,arrival_date_month_June,arrival_date_month_March,...,assigned_room_type_K,assigned_room_type_L,assigned_room_type_P,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
1,0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
3,0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
4,0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0

In [77]:
columns=["hotel","arrival_date_month","meal","market_segment","distribution_channel","reserved_room_type","assigned_room_type","deposit_type","customer_type"]

In [78]:
df=pd.concat([df,dummies],axis=1)

In [79]:
dummies.shape

(87370, 61)

In [80]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,assigned_room_type_K,assigned_room_type_L,assigned_room_type_P,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,Resort Hotel,0,296.0,2015,July,27,1,0,0,2,...,0,0,0,1,0,0,0,0,1,0
1,Resort Hotel,0,296.0,2015,July,27,1,0,0,2,...,0,0,0,1,0,0,0,0,1,0
2,Resort Hotel,0,7.0,2015,July,27,1,0,1,1,...,0,0,0,1,0,0,0,0,1,0
3,Resort Hotel,0,13.0,2015,July,27,1,0,1,1,...,0,0,0,1,0,0,0,0,1,0
4,Resort Hotel,0,14.0,2015,July,27,1,0,2,2,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23.0,2017,August,35,30,2,5,2,...,0,0,0,1,0,0,0,0,1,0
119386,City Hotel,0,102.0,2017,August,35,31,2,5,3,...,0,0,0,1,0,0,0,0,1,0
119387,City Hotel,0,34.0,2017,August,35,31,2,5,2,...,0,0,0,1,0,0,0,0,1,0
119388,City Hotel,0,109.0,2017,August,35,31,2,5,2,...,0,0,0,1,0,0,0,0,1,0
119389,City Hotel,0,205.0,2017,August,35,29,2,7,2,...,0,0,0,1,0,0,0,0,1,0

In [81]:
df.drop(columns,axis=1,inplace=True)

In [82]:
df

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,assigned_room_type_K,assigned_room_type_L,assigned_room_type_P,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,0,296.0,2015,27,1,0,0,2,0.0,0,...,0,0,0,1,0,0,0,0,1,0
1,0,296.0,2015,27,1,0,0,2,0.0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,7.0,2015,27,1,0,1,1,0.0,0,...,0,0,0,1,0,0,0,0,1,0
3,0,13.0,2015,27,1,0,1,1,0.0,0,...,0,0,0,1,0,0,0,0,1,0
4,0,14.0,2015,27,1,0,2,2,0.0,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,23.0,2017,35,30,2,5,2,0.0,0,...,0,0,0,1,0,0,0,0,1,0
119386,0,102.0,2017,35,31,2,5,3,0.0,0,...,0,0,0,1,0,0,0,0,1,0
119387,0,34.0,2017,35,31,2,5,2,0.0,0,...,0,0,0,1,0,0,0,0,1,0
119388,0,109.0,2017,35,31,2,5,2,0.0,0,...,0,0,0,1,0,0,0,0,1,0
119389,0,205.0,2017,35,29,2,7,2,0.0,0,...,0,0,0,1,0,0,0,0,1,0

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87370 entries, 0 to 119389
Data columns (total 83 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   is_canceled                     87370 non-null  int64
 1   lead_time                       87370 non-null  float64
 2   arrival_date_year               87370 non-null  int64
 3   arrival_date_week_number        87370 non-null  int64
 4   arrival_date_day_of_month       87370 non-null  int64
 5   stays_in_weekend_nights         87370 non-null  int64
 6   stays_in_week_nights            87370 non-null  int64
 7   adults                          87370 non-null  int64
 8   children                        87370 non-null  float64
 9   babies                          87370 non-null  int64
 10  country                         87370 non-null  object
 11  is_repeated_guest               87370 non-null  int64
 12  previous_cancellations          87370 non-null  int64
 13  previous_bookings_not_canceled  87370 non-null  int64
 14  booking_changes                 87370 non-null  int64
 15  agent                           87370 non-null  float64
 16  days_in_waiting_list            87370 non-null  int64
 17  adr                             87370 non-null  float64
 18  required_car_parking_spaces     87370 non-null  int64
 19  total_of_special_requests       87370 non-null  int64
 20  reservation_status              87370 non-null  object
 21  reservation_status_date         87370 non-null  object
 22  hotel_City Hotel                87370 non-null  uint8
 23  hotel_Resort Hotel              87370 non-null  uint8
 24  arrival_date_month_April        87370 non-null  uint8
 25  arrival_date_month_August       87370 non-null  uint8
 26  arrival_date_month_December     87370 non-null  uint8
 27  arrival_date_month_February     87370 non-null  uint8
 28  arrival_date_month_January      87370 non-null  uint8
 29  arrival_date_month_July         87370 non-null  uint8
 30  arrival_date_month_June         87370 non-null  uint8
 31  arrival_date_month_March        87370 non-null  uint8
 32  arrival_date_month_May          87370 non-null  uint8
 33  arrival_date_month_November     87370 non-null  uint8
 34  arrival_date_month_October      87370 non-null  uint8
 35  arrival_date_month_September    87370 non-null  uint8
 36  meal_BB                         87370 non-null  uint8
 37  meal_FB                         87370 non-null  uint8
 38  meal_HB                         87370 non-null  uint8
 39  meal_SC                         87370 non-null  uint8
 40  meal_Undefined                  87370 non-null  uint8
 41  market_segment_Aviation         87370 non-null  uint8
 42  market_segment_Complementary    87370 non-null  uint8
 43  market_segment_Corporate        87370 non-null  uint8
 44  market_segment_Direct           87370 non-null  uint8
 45  market_segment_Groups           87370 non-null  uint8
 46  market_segment_Offline TA/TO    87370 non-null  uint8
 47  market_segment_Online TA        87370 non-null  uint8
 48  market_segment_Undefined        87370 non-null  uint8
 49  distribution_channel_Corporate  87370 non-null  uint8
 50  distribution_channel_Direct     87370 non-null  uint8
 51  distribution_channel_GDS        87370 non-null  uint8
 52  distribution_channel_TA/TO      87370 non-null  uint8
 53  distribution_channel_Undefined  87370 non-null  uint8
 54  reserved_room_type_A            87370 non-null  uint8
 55  reserved_room_type_B            87370 non-null  uint8
 56  reserved_room_type_C            87370 non-null  uint8
 57  reserved_room_type_D            87370 non-null  uint8
 58  reserved_room_type_E            87370 non-null  uint8
 59  reserved_room_type_F            87370 non-null  uint8
 60  reserved_room_type_G            87370 non-null  uint8
 61  reserved_room_type_H            87370 non-null  uint8
 62  reserved_room_type_L            87370 non-null  uint8
 63  reserved_room_type_P            87370 non-null  uint8
 64  assigned_room_type_A            87370 non-null  uint8
 65  assigned_room_type_B            87370 non-null  uint8
 66  assigned_room_type_C            87370 non-null  uint8
 67  assigned_room_type_D            87370 non-null  uint8
 68  assigned_room_type_E            87370 non-null  uint8
 69  assigned_room_type_F            87370 non-null  uint8
 70  assigned_room_type_G            87370 non-null  uint8
 71  assigned_room_type_H            87370 non-null  uint8
 72  assigned_room_type_I            87370 non-null  uint8
 73  assigned_room_type_K            87370 non-null  uint8
 74  assigned_room_type_L            87370 non-null  uint8
 75  assigned_room_type_P            87370 non-null  uint8
 76  deposit_type_No Deposit         87370 non-null  uint8
 77  deposit_type_Non Refund         87370 non-null  uint8
 78  deposit_type_Refundable         87370 non-null  uint8
 79  customer_type_Contract          87370 non-null  uint8
 80  customer_type_Group             87370 non-null  uint8
 81  customer_type_Transient         87370 non-null  uint8
 82  customer_type_Transient-Party   87370 non-null  uint8
dtypes: float64(4), int64(15), object(3), uint8(61)
memory usage: 20.4+ MB

In [84]:
dummies.head()

,hotel_City Hotel,hotel_Resort Hotel,arrival_date_month_April,arrival_date_month_August,arrival_date_month_December,arrival_date_month_February,arrival_date_month_January,arrival_date_month_July,arrival_date_month_June,arrival_date_month_March,...,assigned_room_type_K,assigned_room_type_L,assigned_room_type_P,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
1,0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
3,0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
4,0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87370 entries, 0 to 119389
Data columns (total 83 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   is_canceled                     87370 non-null  int64
 1   lead_time                       87370 non-null  float64
 2   arrival_date_year               87370 non-null  int64
 3   arrival_date_week_number        87370 non-null  int64
 4   arrival_date_day_of_month       87370 non-null  int64
 5   stays_in_weekend_nights         87370 non-null  int64
 6   stays_in_week_nights            87370 non-null  int64
 7   adults                          87370 non-null  int64
 8   children                        87370 non-null  float64
 9   babies                          87370 non-null  int64
 10  country                         87370 non-null  object
 11  is_repeated_guest               87370 non-null  int64
 12  previous_cancellations          87370 non-null  int64
 13  previous_bookings_not_canceled  87370 non-null  int64
 14  booking_changes                 87370 non-null  int64
 15  agent                           87370 non-null  float64
 16  days_in_waiting_list            87370 non-null  int64
 17  adr                             87370 non-null  float64
 18  required_car_parking_spaces     87370 non-null  int64
 19  total_of_special_requests       87370 non-null  int64
 20  reservation_status              87370 non-null  object
 21  reservation_status_date         87370 non-null  object
 22  hotel_City Hotel                87370 non-null  uint8
 23  hotel_Resort Hotel              87370 non-null  uint8
 24  arrival_date_month_April        87370 non-null  uint8
 25  arrival_date_month_August       87370 non-null  uint8
 26  arrival_date_month_December     87370 non-null  uint8
 27  arrival_date_month_February     87370 non-null  uint8
 28  arrival_date_month_January      87370 non-null  uint8
 29  arrival_date_month_July         87370 non-null  uint8
 30  arrival_date_month_June         87370 non-null  uint8
 31  arrival_date_month_March        87370 non-null  uint8
 32  arrival_date_month_May          87370 non-null  uint8
 33  arrival_date_month_November     87370 non-null  uint8
 34  arrival_date_month_October      87370 non-null  uint8
 35  arrival_date_month_September    87370 non-null  uint8
 36  meal_BB                         87370 non-null  uint8
 37  meal_FB                         87370 non-null  uint8
 38  meal_HB                         87370 non-null  uint8
 39  meal_SC                         87370 non-null  uint8
 40  meal_Undefined                  87370 non-null  uint8
 41  market_segment_Aviation         87370 non-null  uint8
 42  market_segment_Complementary    87370 non-null  uint8
 43  market_segment_Corporate        87370 non-null  uint8
 44  market_segment_Direct           87370 non-null  uint8
 45  market_segment_Groups           87370 non-null  uint8
 46  market_segment_Offline TA/TO    87370 non-null  uint8
 47  market_segment_Online TA        87370 non-null  uint8
 48  market_segment_Undefined        87370 non-null  uint8
 49  distribution_channel_Corporate  87370 non-null  uint8
 50  distribution_channel_Direct     87370 non-null  uint8
 51  distribution_channel_GDS        87370 non-null  uint8
 52  distribution_channel_TA/TO      87370 non-null  uint8
 53  distribution_channel_Undefined  87370 non-null  uint8
 54  reserved_room_type_A            87370 non-null  uint8
 55  reserved_room_type_B            87370 non-null  uint8
 56  reserved_room_type_C            87370 non-null  uint8
 57  reserved_room_type_D            87370 non-null  uint8
 58  reserved_room_type_E            87370 non-null  uint8
 59  reserved_room_type_F            87370 non-null  uint8
 60  reserved_room_type_G            87370 non-null  uint8
 61  reserved_room_type_H            87370 non-null  uint8
 62  reserved_room_type_L            87370 non-null  uint8
 63  reserved_room_type_P            87370 non-null  uint8
 64  assigned_room_type_A            87370 non-null  uint8
 65  assigned_room_type_B            87370 non-null  uint8
 66  assigned_room_type_C            87370 non-null  uint8
 67  assigned_room_type_D            87370 non-null  uint8
 68  assigned_room_type_E            87370 non-null  uint8
 69  assigned_room_type_F            87370 non-null  uint8
 70  assigned_room_type_G            87370 non-null  uint8
 71  assigned_room_type_H            87370 non-null  uint8
 72  assigned_room_type_I            87370 non-null  uint8
 73  assigned_room_type_K            87370 non-null  uint8
 74  assigned_room_type_L            87370 non-null  uint8
 75  assigned_room_type_P            87370 non-null  uint8
 76  deposit_type_No Deposit         87370 non-null  uint8
 77  deposit_type_Non Refund         87370 non-null  uint8
 78  deposit_type_Refundable         87370 non-null  uint8
 79  customer_type_Contract          87370 non-null  uint8
 80  customer_type_Group             87370 non-null  uint8
 81  customer_type_Transient         87370 non-null  uint8
 82  customer_type_Transient-Party   87370 non-null  uint8
dtypes: float64(4), int64(15), object(3), uint8(61)
memory usage: 20.4+ MB